@charset "utf-8";
@import "./reset.css";
@import "./grid-system.css";
@import "./component.css";
@import "./helperclass.css";
@import "./fonts.css";
/* ============ Create Root Style Setting ============  */
:root {
  --primary-color: #525ffb;
  --headding-color: #1e1c24;
  --text-color: #b1aaaa;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-type {
  color: var(--primary-color);
  font-size: 4.7rem;
  font-weight: 800;
}
/* Create Style For Home Section || Css  Code */
